/************************************/
/***  ViewVC Help CSS Stylesheet ***/
/************************************/

/*** Standard Tags ***/
body {
  margin: 0.5em;
}
img { border: none; }

table { width: 100%; }
td { vertical-align: top; }

col.menu { width:12em; }
