<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>ViewVC Help: Log View</title>
  <link rel="stylesheet" href="help.css" type="text/css" />
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</head>
<body>
  <div><a href="http://viewvc.org/index.html"><img src="images/viewvc-logo.png" alt="ViewVC logotype" /></a></div>
  <table>
    <col class="menu" />
    <col />
    <tr><td>
       <h3>Help</h3>
       <a href="help_rootview.html">General</a><br />
       <a href="help_dirview.html">Directory&nbsp;View</a><br />
       <strong>Log&nbsp;View</strong><br />
       <a href="help_query.html">Query&nbsp;Database</a><br />
    </td><td>

    <h1>ViewVC Help: Log View</h1>

    <p>
      The log view displays the revision history of the selected source
      file or directory. For each revision the following information is
      displayed:

      <ul>
        <li>The revision number. In Subversion repositories, this is a
            link to the <a href="help_rootview.html#view-rev">revision
            view</a></li>
        <li>For files, links to
        <a href="help_rootview.html#view-markup">view</a>,
        <a href="help_rootview.html#view-checkout">download</a>, and
        <a href="help_rootview.html#view-annotate">annotate</a> the
          revision. For directories, a link to
        <a href="help_dirview.html">list directory contents</a></li>
        <li>A link to select the revision for diffs (see below)</li>
        <li>The date and age of the change</li>
        <li>The author of the modification</li>
        <li>The CVS branch (usually <em>MAIN</em>, if not on a branch)</li>
        <li>Possibly a list of CVS tags bound to the revision (if any)</li>
        <li>The size of the change measured in added and removed lines of
            code. (CVS only)</li>
        <li>The size of the file in bytes at the time of the revision
            (Subversion only)</li>
        <li>Links to view diffs to the previous revision or possibly to
            an arbitrary selected revision (if any, see above)</li>
        <li>If the revision is the result of a copy, the path and revision
            copied from</li>
        <li>If the revision precedes a copy or rename, the path at the
            time of the revision</li>
        <li>And last but not least, the commit log message which should tell
            about the reason for the change.</li>
      </ul>
    <p>
      At the bottom of the page you will find a form which allows
      to request diffs between arbitrary revisions.
    </p>
  </td></tr></table>
  <hr />
  <address><a href="mailto:users@viewvc.tigris.org">ViewVC Users Mailinglist</a></address>
  </body>
</html>
