body {
    background-color: rgb(180,193,205);
    background-image: url('./images/bg-grad.jpg');
    background-repeat: repeat-x;
    color: black;
    font-family: arial, sans-serif;
    margin: 0;
}

#title {
    background-color: rgb(100,128,150);
    height: 60px;
}

img {
    border: none;
}

hr {
    width: 95%;
    height: 1px;
}

address {
    text-align: center;
    font-size: 60%;
    font-style: normal;
}

h2 {
    background-color: rgb(204,213,221);
    padding: 2px 0.5em 2px 0.5em;
    margin: 0;
    border-bottom: dotted 1px rgb(180,193,205);
    font-size: 110%;
}

h3 {
    padding: 2px 0.5em 2px 0.5em;
    margin: 0;
    font-size: 100%;
    font-weight: bold;
}

p, dl, ul, ol {
    padding: 0.5em;
    margin: 0;
}

ul, ol {
    padding: 0.5em;
    margin: 0 0 0 0.25in;
}

code {
    font-style: italic;
    font-family: monospace;
}

blockquote {
    padding: 0.5em;
    margin: 0 0.25in 0 0.25in;
    font-size: 90%;
}

.preformat {
    font-family: monospace;
    white-space: pre;
}

.section {
    background: white;
    border-color: rgb(24,24,24);
    border-width: 1px 2px 2px 1px;
    border-style: solid;
    padding: 0;
    margin-bottom: 0.5em;
}
