<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>ViewVC Help: Directory View</title>
  <link rel="stylesheet" href="help.css" type="text/css" />
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</head>
<body>
  <div><a href="http://viewvc.org/index.html"><img src="images/viewvc-logo.png" alt="ViewVC logotype" /></a></div>
  <table>
    <col class="menu" />
    <col />
    <tr><td>
       <h3>Help</h3>
       <a href="help_rootview.html">General</a><br />
       <strong>Directory&nbsp;View</strong><br />
       <a href="help_log.html">Log&nbsp;View</a><br />
       <a href="help_query.html">Query&nbsp;Database</a><br />
    </td><td>

    <h1>ViewVC Help: Directory View</h1>

    <p>The directory listing view should be a familiar sight to any
    computer user. It shows the path of the current directory being viewed
    at the top of the page. Below that is a table summarizing the
    directory contents, and then comes actual contents, a sortable list of
    all files and subdirectories inside the current directory.</p>

    <p><a name="summary"></a>The summary table is made up of some or all
    of the following rows:</p>
    <ul>
      <li><a name="summary-files-shown"><strong>Files Shown</strong></a>
      - Number of files shown in the directory listing. This might be less
      than the actual number of files in the directory if a
      <a href="#option-search">regular expression search</a> is in place,
      hiding files which don't meet the search criteria. In CVS directory
      listings, this row will also have a link to toggle display of
      <a href="help_rootview.html#dead-files">dead files</a>, if any are
      present.</li>

      <li><a name="summary-revision"><strong>Directory
      Revision</strong></a> - For Subversion directories only.
      Shown as "# of #" where the first number is the most recent
      repository revision where the directory (or a path underneath it)
      was modified. The second number is just the latest repository
      revision. Both numbers are links to
      <a href="help_rootview.html#view-rev">revision views</a></li>

     <li><a name="summary-sticky-revision-tag"><strong>Sticky
     Revision/Tag</strong></a> - shows the current
     <a href="help_rootview.html#sticky-revision-tag">sticky revision or
     tag</a> and contains form fields to set or clear it.</li>

     <li><a name="summary-search"><strong>Current Search</strong></a> -
     If a <a href="#option-search">regular expression search</a> is in place,
     shows the search string.</li>

     <li><a name="summary-query"><strong>Query</strong></a> - Provides
     a link to a <a href="help_rootview.html#view-query">query form</a>
     for the directory</li>
   </ul>

  <p><a name="list"></a>The actual directory list is a table with
  filenames and directory names in one column and information about the
  most recent revisions where each file or directory was modified in the
  other columns. Column headers can be clicked to sort the directory
  entries in order by a column, and clicked again to reverse the sort
  order.</p>

  <p>
  <!-- If using directory.ezt template -->
  File names are links to <a href="help_log.html">log views</a>
  showing a list of revisions where a file was modified. Revision
  numbers are links to either
  <a href="help_rootview.html#view-markup">view</a>
  or <a href="help_rootview.html#view-checkout">download</a> a file
  (depending on its file type). The links are reversed for directories.
  Directory revision numbers are links to <a href="help_log.html">log
  views</a>, while directory names are links showing the contents of those
  directories.

  <!-- If using dir_alt.ezt template -->
  <!--
  File and directory names are links to retrieve their contents.
  File links may be either
  <a href="help_rootview.html#view-markup">view</a>
  or <a href="help_rootview.html#view-download">download</a> links
  depending on the file type. Directory links go to directory
  listings. Revision numbers are links to <a href="help_log.html">log
  views</a> showing lists of revisions where a file or directory was
  modified.
  -->

  Also, in CVS repositories with the
  <a href="help_rootview.html#view-graph">graph view</a> enabled, there
  will be small
  <img src="images/cvsgraph_16x16.png" width="16" height="16" alt="graph">
  icons next to file names which are links to revision graphs.</p>

  <p>Depending on how ViewVC is configured, there may be more options
  at the bottom of directory pages:</p>

  <ul>
    <li><a name="option-search"><strong>Regular expression
    search</strong></a> - If enabled, will show a form field accepting
    a search string (a
    <a href="http://doc.python.org/lib/re-syntax.html">python regular
    expression</a>). Once submitted, only files that have at least
    one occurance of the expression will show up in directory listings.
    </li>
    <li><a name="option-tarball"><strong>Tarball download</strong></a> -
    If enabled, will show a link to download a gzipped tar archive of
    the directory contents.</li>
  </ul>

  </td></tr></table>
  <hr />
  <address><a href="mailto:users@viewvc.tigris.org">ViewVC Users Mailinglist</a></address>
  </body>
</html>
