/*
 * COLORS
 * --------
 * #739c3e;
 * #94bd5e;
 * #b2d388;
 */
body {
    background-color: white;
    color: #222;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    line-height: 1.6em;
    margin: 0;
}
img {
    border: none;
}
hr {
    width: 95%;
    height: 1px;
}
address {
    font-size: 60%;
    font-style: normal;
}
h2 {
    color: #739c3e;
    margin: 0.5em 0 0 0;
}
p, dl, td, th {
    padding: 0.5em;
    margin: 0;
    font-size: 94%;
}
ul, ol {
    font-size: 90%;
    padding: 0.5em;
    margin: 0 0 0 0.25in;
}
code {
    font-size: 105%;
    font-style: italic;
    font-family: monospace;
}
blockquote {
    text-align: justify;
    font-style: italic;
    margin: 0 0.5in 0 0.5in;
    padding: 5px;
    line-height: 1.2em;
}
:target {
    border: 2px solid red;
}

/*
 * REGIONS
 */
#title {
    background-color: #739c3e;
    height: 70px;
}
#menu {
    font-family: sans-serif;
    background: #222;
    color: #b2d388;
}
#menu a, #menu a:visited {
    background: #222;
    color: white;
    text-decoration: none;
}
#menu a:hover {
    background: #222;
    color: white;
    text-decoration: underline;
}
#submenu {
    font-family: sans-serif;
    background: rgb(90%,97%,99%);
    font-size: 80%;
}
#content {
    font-size: 1.1em;
    padding: 1em 3em;
    max-width: 980px;
}
#content a, #content a:visited {
    color: rgb(0,0,164);
    text-decoration: underline;
}
#content a:hover {
    background-color: rgb(180,193,205);
    text-decoration: underline;
}
#bookmarks {
    padding-left: 0.5em;
    white-space: nowrap;
    margin-bottom: 2em;
    line-height: 2.4em;
}
#bookmarks li {
    list-style-type: none;
}

/*
 * CLASSES
 */
.imagecaptionbox {
    display: inline-block;
    text-align: center;
    margin: 0 1em;
    font-size: 70%;
}
.section {
    background: white;
    padding: 0;
    margin-bottom: 0.5em;
    clear: both;
}
.section-body {
    padding: 0.5em 0;
}
.section p, .section dl, .section ul, .section ol { 
    padding: 0.5em 0;
}
.notice {
    border: 1px solid black;
    margin-bottom: 0.5em;
    background: yellow;
}
.faq-section {
    margin-top: 1em;
}
.faq-atitle {
    font-weight: bold;
}
