<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>ViewCVS Help: Log Table View</title>
  <link rel="stylesheet" href="help.css" type="text/css" />
</head>
<body>
  <table>
    <col class="menu" />
    <col />
    <tr>
      <td><a href="http://viewcvs.sf.net/index.html"><img
	     src="images/logo.png" alt="ViewCVS logotype" /></a>
      </td>
      <td>
	<h1>ViewCVS Help: Log Table View</h1>
      </td>
    </tr>
    <tr><td>
       <h3>Help</h3>
       <a href="help_rootview.html">General</a><br />
       <a href="help_dirview.html">Directory&nbsp;View</a><br />
       <a href="help_log.html">Classic&nbsp;Log&nbsp;View</a><br />
       <strong>Alternative&nbsp;Log&nbsp;View</strong><br />
       <a href="help_query.html">Query&nbsp;Database</a><br />

       <h3>Internet</h3>
       <a href="http://viewcvs.sf.net/index.html">Home</a><br />
       <a href="http://viewcvs.sf.net/upgrading.html">Upgrading</a><br />
       <a href="http://viewcvs.sf.net/contributing.html">Contributing</a><br />
       <a href="http://viewcvs.sf.net/license-1.html">License</a><br />
    </td><td colspan="2">
    <p> 
      The table based log view must be enabled in the site wide 
      ViewCVS configuration file.
    </p>
    <p>
      It displays the revision history of the selected source
      file in a table containing the following columns:  
    </p>
    <ul>
      <li><strong>Revision</strong>: The revision number.</li>
      <li><strong>Tasks</strong>: This column contains several links to view 
          a revision.</li>
      <li><strong>Diffs</strong>: Several links to view the changes between this
          and other revisions.</li>
      <li><strong>Branches and Tags</strong>: Displays the branch and a pulldown
          menu button displaying all tags bound to that revision</li>
      <li><strong>Age:</strong>The revision's check in-time</li>
      <li><strong>Author:</strong>The revision's author</li>
      <li><strong>Log:</strong>Log message describing the changes made in the
          revision</li>
      </ul>
    <p>
      At the bottom of such a page you will find a form which allows
      to request diffs between arbitrary revisions.
    </p>
  </td></tr></table>
  <hr />
  <address><a href="mailto:viewcvs-dev@lyra.org">ViewCVS Group</a></address>
<!-- Created: Thu Oct 25 22:08:29 CEST 2001 -->
<!-- hhmts start -->
<p>Last modified: Sat Dec  8 23:26:52 CET 2001</p>
<!-- hhmts end -->
  </body>
</html>
